* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.2em;
}

@media (max-width: 425px) {
    body {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (min-width: 426px) {
    body {
        margin-left: 4em;
        margin-right: 4em;
        width: 60%;
    }
}

.image-w-credit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.image-w-credit > img {
    display: block;
    object-fit: contain;
    /* max-width: 425px; */
}

.image-w-credit > .image-credit {
    margin-top: 0.2em;
    font-size: 0.6em;
}

ul > li + li {
    margin-top: 0.5em;
}

ol > li + li {
    margin-top: 1em;
}
